body {
    background: rgb(201, 161, 238) }

    body {
        font-family: Helvetica, 'Arial', sans-serif;
        font-size: 50px;
        color: #2ab564;
        background-color: #696969;
        text-align: center;
        margin: 40px;
        overflow: hidden;
        
    }

    section {
    font-family: Helvetica, 'Arial', sans-serif;
    background: none;
    font-size: 50px;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
a {
    color: rgb(255, 255, 255);
    font-size: 40px;
}
h1 {
    color:rgb(124, 230, 163)
    
}
